.hero-homepage-container {
  background-color: var(--color-raspberry);
}

.hero-homepage-container .hero-homepage-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-homepage {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-m);
  gap: var(--spacing-l);
}

.hero-homepage > div:first-child {
  flex: 0 0 auto;
}

.hero-homepage > div:first-child img {
  width: 100%;
  max-width: 480px;
  height: auto;
  border-radius: 8px;
}

.hero-homepage > div:last-child {
  flex: 1;
}

.hero-homepage h1 {
  color: var(--color-white);
  font-size: var(--heading-font-size-xxl);
  margin-top: 0;
}

.hero-homepage h2 {
  color: var(--color-white);
  font-size: var(--heading-font-size-xl);
  font-weight: 500;
}

.hero-homepage p {
  color: var(--color-white);
  font-size: var(--body-font-size-l);
  line-height: 1.5;
}

.hero-homepage a.button:any-link {
  background-color: var(--color-white);
  border-color: var(--color-white);
  color: var(--color-raspberry);
}

.hero-homepage a.button:hover {
  background-color: transparent;
  border-color: var(--color-white);
  color: var(--color-white);
}

@media (width >= 900px) {
  .hero-homepage {
    flex-direction: row;
    padding: var(--spacing-xxl) var(--spacing-l);
  }

  .hero-homepage > div:first-child {
    flex: 0 0 45%;
  }

  .hero-homepage > div:last-child {
    flex: 1;
    order: -1;
  }
}
